@if (TempData["Notification"] != null)
    {
<div class="toast toast-position successgreen-background text-white" data-autohide="false">
    <div class="toast-header successgreen-background">
        <strong class="mr-auto text-primary"><i class="fas fa-check text-white"></i></strong>
        <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
        &nbsp;&nbsp;&nbsp;
        @TempData["Notification"]
        &nbsp;&nbsp;&nbsp;
    </div>
</div>
    }
@if (TempData["Error-Notification"] != null)
    {
<div class="toast toast-position error-background text-white" data-autohide="false">
    <div class="toast-header error-background">
        <strong class="mr-auto text-primary"><i class="fas fa-exclamation-circle text-white"></i></strong>
        <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
        &nbsp;&nbsp;&nbsp;
        @TempData["Error-Notification"]
        &nbsp;&nbsp;&nbsp;
    </div>
</div>
    }
