@model ChangePasswordModel;

@{
}
<script src="~/js/ClienSideInputValidation.js"></script>

<div class=" col-md-6 m-auto">
    <form id="change-password-form" asp-action="_ChangePassword" asp-controller="Auth" method="post" onsubmit="return validatePassword()">
        <div asp-validation-summary="All" class="text-danger"></div>
        <br />
        <div class="form-group">
            <input asp-for="OldPassword" class="form-control myinput" placeholder="Stara lozinka" required/>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input asp-for="NewPassword" class="form-control" placeholder="Nova lozinka" id="new-password" pattern=".{6,}"   required title="Lozinka mora imati najmanje 6 karaktera."/>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input asp-for="ConfirmPassword" placeholder="Potvrdite novu lozinku" class="form-control myinput" id="confirm-password" required/>
            <span asp-validation-for="ConfirmPassword" class="text-danger" id="con-pass-validation"></span>
        </div>
        <input type="submit" class="btnRegister" value="Ažurirajte lozinku" id="sb-btn" />
    </form>
</div>
