@model TuristRegistar.Models.UserSettingsAdminModel

<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/css/regst.css" rel="stylesheet" />
<link href="~/css/tabs.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<input type="hidden" asp-for="IdentUserId" id="user-id"/>
<br /><br />
      <div class="row">
          <div class="col-sm-1"></div>
          <div class="text-primary font-weight-bolder">

              <h5 style="display:inline"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;@Model.Username</h5>
          </div>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>
              <select class="custom-select d-block w-100" asp-for="SelectedRoleId" asp-items="Model.Roles" id="role-select" onchange="ChangeUserRole(this)">
                  <option disabled selected>Izaberite...</option>
              </select>
          </strong>
      </div>
<!-- Tabs -->
<section id="tabs" style="padding:20px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a style="background-color:transparent" class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profil</a>
                        <a style="background-color:transparent" class="nav-item nav-link" id="nav-userobjects-tab" data-toggle="tab" href="#nav-userobjects" role="tab" aria-controls="nav-userobjects" aria-selected="false">Objekti</a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    </div>
                    <div class="tab-pane fade" id="nav-userobjects" role="tabpanel" aria-labelledby="nav-userobjects-tab">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ./Tabs -->
<script src="~/js/Navbarcolor.js"></script>
<script>

    $.get('@Url.Action("_UpdateProfile", "Auth", new { identUserId = Model.IdentUserId, })', function (content) {
        $("#nav-profile").html(content);
    });
    $.get('@Url.Action("_UserObjects", "Auth", new { identUserId = Model.IdentUserId, })', function (content) {
        $("#nav-userobjects").html(content);
    });
</script>
<script>
    function ChangeUserRole(el) {
        var data = { 'roleId': $(el).val(), 'identUserId': ($('#user-id')).val() };

        $.ajax({
            url: "/Administration/ChangeUserRole",
            data: data,
            type: "POST",
            contentType: 'application/x-www-form-urlencoded',
            success: function (response) {

            },
            error: function () {
                alert('Greška prilikom pribavljanja podataka.');
            }
        });
    }
</script>