@{
    ViewData["Title"] = "Home Page";
}
<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap/js/bootstrap.js"></script>

<div class="item">
<img src="~/images/slikaa.jpg" style="width:100%;" class="d-none d-sm-block" />
<div class="carousel-inner" role="listbox">

    <div class="d-none d-sm-block item text-center" style="background:#1D4380;width:100%;padding-top:50px;padding-bottom:50px; ">
        <br />
        <a href="~/objectlist" class="text-white"> <i class="fa fa-map-pin fa-4x" aria-hidden="true">&nbsp;</i><i class="fa font-weight-light fa-4x" style="font-family:'Segoe UI'">Pregledaj ponude</i></a>
        <br /><br /><br><br />
        <a href="~/Home/Map" class="text-white"> <i class="fa fa-map fa-4x" aria-hidden="true">&nbsp;</i><i class="fa font-weight-light fa-4x" style="font-family:'Segoe UI'">Prikaži na mapi</i></a>
        <br /><br />
    </div>
    <div class="d-block d-sm-none item text-center" style="background:#1D4380;width:100%;padding-top:50px;padding-bottom:50px; ">
        <br />
        <a href="~/objectlist" class="text-white"> <i class="fa fa-map-pin fa-2x" aria-hidden="true">&nbsp;</i><i class="fa font-weight-light fa-2x" style="font-family:'Segoe UI'">Pregledaj ponude</i></a>
        <br /><br /><br><br />
        <a href="~/Home/Map" class="text-white"> <i class="fa fa-map fa-2x" aria-hidden="true">&nbsp;</i><i class="fa font-weight-light fa-2x" style="font-family:'Segoe UI'">Prikaži na mapi</i></a>
    </div>


    <div class="d-none d-sm-block item text-white text-center" style="background:#56B4D9;width:100%;padding:20px;padding-top:50px;padding-bottom:50px; ">
        <br />
        <i class="fa font-weight-light fa-2x" style="font-family:'Segoe UI'">Elektrotehnički fakultet Istočno Sarajevo 2020.</i>
        <br /><br /><br><br />
        <i class="fa font-weight-light fa-2x fa-pull-left" style="font-family:'Segoe UI'">Autor: Marina Zubac</i>
        <i class="fa font-weight-light fa-2x fa-pull-right" style="font-family:'Segoe UI'">Mentor: prof. dr. Danijel Mijić</i>
        <br /><br />
    </div>
    <div class="d-block d-sm-none item text-white text-center" style="background:#56B4D9;width:100%;padding-top:50px;padding-bottom:50px; ">
        <br />
        <br />
        <i class="fa font-weight-light fa-2x" style="font-family:'Segoe UI'">Elektrotehnički fakultet Istočno Sarajevo 2020.</i>
        <br /><br /><br><br />
        <i class="fa font-weight-light fa-2x" style="font-family:'Segoe UI'">Autor: Marina Zubac</i>
        <i class="fa font-weight-light fa-2x" style="font-family:'Segoe UI'">Mentor: prof. dr. Danijel Mijić</i>
        <br /><br />
    </div>
</div>
</div>


